
# ???????????????????????????????????????????????????????????
# YOLO Models Ч  хЌгушб  бё«∆н«р гд Ultralytics
# (б« д—ЁЏе« Џбм git Ч я»н—… «бЌћг° Ћд«∆н…)
# ???????????????????????????????????????????????????????????
yolov8*.pt
yolo11*.pt
*.pt
*.onnx
*.h5
*.pb
